# Python
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
.venv/
venv/
env/

# Environment variables
.env


# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.coverage
htmlcov/

# Database (if local files ever used)
*.sqlite3
